<div class="container">
	<a class="link" href="#!/company">Company</a>
  <a class="link" href="#!/contact">Contact</a>
  <a class="link" href="#!/address">Location</a>
  <form name=" formOrgRegisterAddress" class="css-form" novalidate>
  	<center>
  		<div class="control-group">
	      <label class="label-control">Location</label><br>    
				<input name="address1"  type="text" class="form-control" placeholder="Address Line1" ng-model="address1" autofocus required>
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
				<input name="address2"  type="text" class="form-control" placeholder="Address Line2" ng-model="address2">
				<input name="address3"  type="text" class="form-control" placeholder="Address Line3" ng-model="address3">
				<input name="country"  type="text" class="form-control" placeholder="Country" ng-model="country" required>
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
				<input name="city"  type="text" class="form-control" placeholder="City" ng-model="city" required/>
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
				<input name="state"  type="text" class="form-control" placeholder="State" ng-model="state" required/>
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
				<input name="zip"  type="text" class="form-control" placeholder="Zip Code" ng-model="zipcode" required/> 
					<div class="input-help">
            <h4>Field Required!</h4>
          </div>
			</div>
  	</center>
		<center>
    	<button class="btn btn-md btn-primary" type="submit" ng-click="save()">Save</button>
    </center>
   </form>
</div>   