<div class="container">
  <form name="formManufacturerRegisterCompany" class="css-form form-manufacturer-register" novalidate>
    <center>
      <h3 class="form-register-heading">Please Register Here</h3>
        <p class="para1">All fields are mandatory.</p>
        	<div class="control-group">
            <div class="controls">
              <input name="companyname" type="text" class="form-control" ng-model="m.companyname" placeholder="Company Name" autofocus required/>
              <textarea name="description" type="textarea" class="form-control" ng-model="m.description" placeholder="Company Description" required/></textarea>  
              <select type="text" class="form-control" ng-model="org" ng-options="org.name for org in orgs" required></select>
        			<input name="textinput" type="text" class="form-control" placeholder="Address Line1" ng-model="m.address1" required/>
        					<input name="textinput"  type="text" class="form-control" placeholder="Address Line2" ng-model="m.address2">
        					<input name="textinput"  type="text" class="form-control" placeholder="Address Line3" ng-model="m.address3">
        					<input name="textinput"  type="text" class="form-control" placeholder="City" ng-model="m.city" required/>
        					<input name="textinput"  type="text" class="form-control" placeholder="State" ng-model="m.state" required/>
        					<input name="textinput"  type="text" class="form-control" placeholder="Zip Code" ng-model="m.zipcode" required/>
        				</center>
                 </div>
              </div>
        				 
          			<center>
          				<button class="btn btn-md btn-primary" type="submit" ng-click="save()">Register</button>
       						<button class="btn btn-md" type="submit" ng-click="reset()">Reset</button>
          			</center> 
       					
      				</form>

				</div>