<div class="container">

     				<form name=" formManufacturerRegisterContact" class="css-form" novalidate>
        				
        				<center>
        					<h3 class="form-register-heading">Contact Details</h3>
        					<p class="para1">All fields are mandatory.</p>
        					<input name="textinput" type="text" class="form-control" placeholder="Customer HelpLine No." ng-model="cust.helpline" autofocus required/>
                  <input name="textinput" type="url" class="form-control" placeholder="Company Site URL" ng-model="site.url" required/>
        				

        				</center>
        				 
          				<center>
          					<button class="btn btn-md btn-primary" type="submit">Proceed</button>
       						<button class="btn btn-md" type="submit">Reset</button>
          				</center> 
       					
      				</form>

				</div>