<div class="container">

     				<form class="css-form" name="formManufacturerRegisterPayment" novalidate>
        				
        				<center>
        					<h3 class="form-register-heading">Payment Details</h3>
        					<p class="para1">All fields are mandatory.</p>
        					
        					<input type="text" class="form-control" placeholder="Card Holder Name" ng-model="card.holder"autofocus required/>
        					<input type="text" class="form-control" placeholder="Card Type" ng-model="card.type" required/>
        				  </center>
        				 
          				<center>
          					<button class="btn btn-md btn-primary" type="submit">Proceed</button>
       						  <button class="btn btn-md" type="submit">Reset</button>
          				</center> 
       					
      				</form>

				</div>