<div class="container">
  <form class="css-form" name="formOrgRegisterPayment" novalidate>
    <center>
      <div class="control-group">
     	  <input type="text" class="form-control" placeholder="Card Holder Name" ng-model="card.holder"autofocus required/>

			  <input type="text" class="form-control" placeholder="Card Type" ng-model="card.type" required/>
      </div>
    </center>
        				 
    <center>
      <button class="btn btn-md btn-primary" type="submit" ng-click="save()">Save</button>
    </center>
  </form>
</div>