<div class="container">

     				<form class="css-form" name="formManufacturerRegisterService" novalidate>
        				
        				<center>
        					<h3 class="form-register-heading">Service Center Details</h3>
        					<p class="para1">All fields are mandatory.</p>
        					
        					<input type="text" class="form-control" placeholder="Service Center Name" autofocus required/>
        					<input type="text" class="form-control" placeholder="Contact No." ng-model="c.contact" required/>
        					<input type="text" class="form-control" placeholder="Address Line1" ng-model="c.address1" required/>
        					<input type="text" class="form-control" placeholder="Address Line2" ng-model="c.address2">
        					<input type="text" class="form-control" placeholder="Address Line3" ng-model="c.address3">
        					<input type="text" class="form-control" placeholder="City" ng-model="c.city" required/>
        					<input type="text" class="form-control" placeholder="State" ng-model="c.state" required/>
        					<input type="text" class="form-control" placeholder="Zip Code" ng-model="c.zipcode" required/>
        				</center>
        				 
          				<center>
          					<button class="btn btn-md btn-primary" type="submit">Proceed</button>
       						<button class="btn btn-md" type="submit">Reset</button>
          				</center> 
       					
      				</form>

				</div>