<div class="container">
  <form name="signinForm" class="css-form" novalidate ng-submit="">
    
      <center>
        <div class="control-group">
          <lable>Enter Username or Email Id</lable>
          <input name="username" class="form-control" type="text" placeholder="Username" required ng-model="signin.username" />  
            <div class="input-help">
              <h4>Enter valid email:abc@example.com</h4>
            </div>
      
          <input name="password" class="form-control" type="password" placeholder="Password" required ng-model="signin.password" />
            <div class="input-help">
              <h4>Field Required</h4>
            </div>
            <br>
        </div>  
      </center>
      <center>
        <button class="btn btn-md btn-primary" type="submit" ui-sref="prodonus">Sign In</button>
        <a href="#">Forgot Password?</a>
        <p>New User? Please <a ui-sref="home.signup">Sign Up</a></p>
      </center>
  </form>
</div>   
 
