<div class="container">
  <form class="css-form" name="formOrgRegisterPayment" ng-submit="" novalidate>
    <center>
      <div class="control-group">
      <label class="label-control">Subscribe</label><br>
     	  <input type="text" class="form-control" placeholder="Card Holder Name" ng-model="card.holder"autofocus required/>

			  <input type="text" class="form-control" placeholder="Card Type" ng-model="card.type" required/>
      </div>
    </center>
    <center>
      <button class="btn btn-md btn-primary" type="submit" ui-sref="home.terms">Previous</button>
    <button class="btn btn-md btn-primary" type="submit" ui-sref="prodonus">Next</button>
    </center>  				 
     
  </form>
</div>