 <!-- //.................................code for password pattern & password check...............
 <input type="password" class="immediate-help form-control" id="password1" name="password1" placeholder="Password" ng-model="password1" prodonus-password-validate required>
        <div class="input-help">
          <h4>Password must have:</h4>
            <ul>
              <li ng-class="pwdHasAlphabet">At least <strong>1 Alphabet</strong></li>
              <li ng-class="pwdHasNumber">At least <strong>1 Number</strong></li>
              <li ng-class="pwdHasSymbol">At least <strong>1 Special Symbol</strong></li>
              <li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
            </ul>
          </div>

                    <input type="password" class="immediate-help form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" ng-model="confirmpassword1" prodonus-password-check="password1"/> 
                     <div class="input-help">
                      <h4>Password must be same as above!</h4>
                     </div>
 -->


 
                  