 
  <div class="row">
      <div class="col-md-6">
        <div class="layout-text">
          <h2>Welcome To Prodonus</h2>
      <p><h6>The Warranty And Social Network Platform For Products</h6></p>
          <button type="button" class="btn btn-primary btn-lg">Learn More</button>
        <button type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-play"></span>Play Video</button> 
        </div>
       
      </div>
        <div class="col-md-5 col-md-offset-1 nested-view1">
          <div class="div-grid-control" ui-view></div>
     </div>
    </div>
      
    
   
 
